.card {
  border: none;
  border-radius: 0;
  /*border-bottom: 1px solid #181818;*/
  height: 400px;
  margin-bottom: 20px;
  .card-topper {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .card-block {
    padding: 10px;
    /*.btn-read {
      background-color: #e8e8e8;
      font-weight: 300;
      border-radius: 0;
      color: block;
      &:hover {
        background-color: #d8d8d8;
      }
    }*/
    .card-title {
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
      a {
        color: black;
        text-decoration: none;
      }
    }
    .published-date {
      font-size: 0.8rem;
      color: #787878;
      font-weight: 300;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }
    .card-text {
      font-size: 0.9rem;
      color: black;
    }
  }
}

 .blogshow{
  .container {
    
    margin-right: 0rem;
    margin-left: 8rem;
    padding: 10px;
       
  }
}
.card {
  .card-block {
    /*background-color: $light-gray;*/
  }
  .card-title {
    margin-bottom: 0;
    font-size: 18px;
  }
  .list-group-item {
    padding: 10px;
    border-left: 0;
    border-right: 0;
    input[type='text'], textarea {
      font-size: 14px;
      background-color: $light-gray;
    }
    textarea {
      height: 100px;
    }
    &:last-child {
     
    }
  }
}

.author-bio {
  background-color: white;
  padding: 15px 45px;
  margin: 30px 0;
  img {
    border-radius: 50%;
  }
  img, h4 {
    margin-bottom: 10px;
  }
  h4 {
    font-weight: bold;
    font-size: 22px;
  }
  h6 {
    font-weight: 300;
    font-size: 16px
  }
}



@media screen and (min-width: 34em) {
  .posts.index .card {
    height: 440px;
  }
}

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {
  .card {
    height: 420px;
  }
}

/* Extra large. Above 75em (1200px) */
@media screen and (min-width: 75em) {
  .posts.index .card {
    height: 415px;
  }
}
